
html{
    scroll-behavior: smooth;
}
.main-body{
    margin: 0;
    padding: 0;
    background-color: slategray;
}
.footer{
    background-color: black;
    border: solid brown;
    color: white;
    text-align: center;
    height: 4vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
}
embed{
}
.header{
    background-color: black;
    width: 100vw;
    height: 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: dotted green;
    padding-top: 10px;
    color: red;
}
.main-block{
    background-color: tan;
    opacity: 70%;
    height: 1000px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    border: solid black;
    overflow:auto;
    flex-wrap: nowrap;

    /*connect this to .button class as an onclick event possibly
    animation: block-expand 2s ;
    animation-fill-mode: forwards;
    */
}
.intro-p.before{
    /*content: 'First Generation College Graduate';*/
    display: block;
    font-size: 30px;
    font-weight: bolder;

    animation: fade-in 1s forwards;
    animation: move-right 1s forwards;
}
.intro-p{
    font-size:xx-large; 
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.intro-p.main{
    animation: fade-in 1.5s forwards;
}
.intro-p.after{
    display: block;
    font-size: x-large;

        
    animation: fade-in 1s forwards;
    animation: move-left 1s forwards;
}
.options{
    border: dotted blueviolet;
    position: relative;
    top: 30%;
    display: flex;
    justify-content: space-around;
}
/*current issue: space evenly not working in order to space the buttons out w/o padding or margins*/
.options > button{
    color: black;
    background-color:transparent;
    border: solid 2px lightblue;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;

    transition-duration: .4s;
    font-size: 17px;
    /*
    margin: 25px;
    padding: 10px;
    */
}
.btn.bt1{
    /*
    animation: btn-expand 1s forwards;
    */
}
.btn:hover{
    background-color: lightblue;
    color: white;
}
.details{
    border: 1px dotted darkcyan; 
    position: relative; 
    display: flex;
    top: 35%;
    justify-content: center;
    align-items: center;
}
.profile{
    border: solid orange;
    top: 18%;
    position: relative;
    height: 210px;
}
.expandedDetail{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    outline: dotted yellow;
    display: none;

    /*insert keyframe animation here:
    * text flow fades into page 
    * elements move upwaords then stay in fixed position
    * when other button is clicked, scolls/fades left or right then fades to correct page content [requires]
    */

    animation: fade-in 2s;
    animation-fill-mode: forwards;

}
#profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 20%;
    border: solid salmon;
    float: left;
}

@keyframes block-expand{
    from{
        height: 600px;
    }
    to{
        height: 1000px;
    }
}

@keyframes fade-in{
    from{
        opacity: 0%;
        
    }
    to{
        opacity: 100%;
    }
}

@keyframes move-right{
    from{
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes move-left{
    from{
        transform: translateX(150px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes btn-expand{
    from{
        transform: translateY(0px);

    }
    to{
        transform: translateY(25px);
    }
}
